<div class="hometext">
<h1 class="hometext">Welcome to Tweetpaths</h1>

<p class="hometext">Tweetpaths is a website which lets you plot geotagged tweets on a map.</p>

<p class="hometext">Simply enter the twitter user on the <%= link_to 'map page', :controller => :maps, :action => :index %>
and click the <span class="bold">Show on Map</span> button to show that user's tweets on the map.
Clicking on one of the markers on the maps will show the details of that tweet.</p>

<p class="hometext">You can also select start and/or end dates to show a range of tweets, or click the
<span class="bold">Show Path</span> box to draw a line from tweet to tweet.
Adding more users to the map will show the tweets for each user with different coloured markers.</p>

<p class="hometext">You will need to sign in with your Twitter login to start using the map. See the
<%= link_to 'FAQ', :action => :faq %> and <%= link_to 'Terms', :action => :terms %> pages for more info.</p>

<h1 class="hometext">Credits</h1>
<p class="hometext">Icons used on the mobile website are from <%= link_to 'The Working Group', 'http://blog.twg.ca/2009/09/free-iphone-toolbar-icons/' %>
and are used under a <%= link_to 'Creative Commons Attribution-Share Alike Licence', 'http://creativecommons.org/licenses/by-sa/3.0/' %>.</p>

<p class="hometext">The Tweetpaths logo is based on <%= link_to 'Architetto -- tante orma sulla neve', 'http://www.openclipart.org/detail/34681' %>
from the <%= link_to 'Open Clip Art Library', 'http://openclipart.org' %> which is <%= link_to 'public domain' , 'http://creativecommons.org/choose/publicdomain-2?lang=en' %>.</p>

</div>